<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AlarmManagerIntegration"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize|keyboard|locale|layoutDirection"
            android:exported="true"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />

        <service
            android:name=".AlarmService"
            android:exported="true"
            android:foregroundServiceType="shortService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Broadcast Receiver -->
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="com.example.alarmmanagerintegration.ALARM_TRIGGERED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
